<!-- bootstrap이 jquery에 의존 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<!-- HTML은 위에서부터 코드가 실행되므로 head가 다 실행되어야 body가 실행됨 -->
<!-- 상대적으로 무거운 js 파일들은 body 하단에 두고, ui가 깨지지 않도록 css는 head에서 불러오자! -->
<script src="/js/app/index.js"></script>
</body>
</html>