<!-- 레이아웃 방식으로 bootstrap, jquery 추가 -->
<!-- 공통 영역을 별도의 파일로 분리하여 필요한 곳에서 가져다 쓰는 방식 -->

{{>layout/header}}
<!-- 아래에서 주석 처리하려고 괄호 사이 띄어쓰기 함 -->
<!-- { { >파일명 } }: 현재 머스테치 파일을 기준으로 다른 파일을 가져옴-->

    <h1>Simple Springboot Web Service </h1>
    <div class="col-md-12">
        <!-- 로그인 기능 영역 -->
        <div class="row">
            <div class="col-md-6">
                {{#userName}} <!-- if문 미지원, 변수의 true/false만 판단 가능, userName이 존재할 경우 -->
                    <div>
                        Logged in as: <span id="user">{{userName}}</span>
                    </div>
                    <a href="/posts/save" role="button" class="btn btn-primary">New Post</a>
                    <a href="/logout" class="btn btn-info active" role="button">Sign out</a> <!-- spring security에서 기본 제공하는 로그아웃 url, SecurityConfig에서 변경 가능 -->
                {{/userName}}
                {{^userName}} <!-- userName이 존재하지 않을 경우 -->
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Sign in with Google</a> <!-- spring security에서 기본 제공하는 로그인 url -->
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Sign in with Naver</a> <!-- spring security에서 기본 제공하는 로그인 url -->
                {{/userName}}
            </div>
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-boarded">
        <thead class="thead-strong">
        <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date created</th>
            <th>Last modified</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}} <!-- posts라는 List를 순회 -->
            <tr>
                <td>{{ id }}</td>
                <td><a href="/posts/update/{{id}}">{{ title }}</a></td>
                <td>{{ author }}</td>
                <!-- 왜 content 불러오기 하면 안 될까?? -->
                <td>{{ createdDateTime }}</td>
                <td>{{ modifiedDateTime }}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>

{{>layout/footer}}